<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../assets/ico/favicon.ico">

    <title>Tracks</title>
    {% load tracks_extras %}
    {% load staticfiles %}
    {% load_head_custom %}

    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <div id="navbar" class="navbar navbar-inverse navbar-fixed-top" role="navigation"></div>
    <div class="container">

      <div class="starter-template">
        <h3>Hello {{user.get_name_to_display}}!</h3>
        <h5> Downbeat activity </h5>
        <div class="container-fluid col-sm-9" style="border-width:1px; border-radius:4px,4px,0,0; border-color:#333; float:center;">
        	<ul class="list-group" style="text-align:left">
          {% for history_obj in downbeat_list %}
            <li class="list-group-item" style="height:100px">
            <img class="img-thumbnail" src={% static "default-img.jpg" %} style="height:80px;width:70px;float:left; margin-right:10px">
              <a href="{% url 'Tracks:userpage' history_obj.user.id %}">
                <h5>{{history_obj.user.get_name_to_display}}</h5>
              </a>

              {% if history_obj.added %}
                {% if history_obj.track != None %}
                    added a new Track: <a href="javascript:;">{{history_obj.track.filename}}</a>

                    {% if history_obj.collaboration != None %}
                        to Collaboration: <a href="javascript:;">Collaboration {{history_obj.collaboration.id}}</a>
                    {% endif %}

                {% endif %}

              {% elif history_obj.modified %}
                {% if history_obj.track != None %}
                    modified Track: <a href="javascript:;">{{history_obj.track.filename}}</a>

                    {% if history_obj.collaboration != None %}
                        in Collaboration: <a href="javascript:;">Collaboration {{history_obj.collaboration.id}}</a>
                    {% endif %}

                {% endif %}

              {% endif %}
               on {{history_obj.timestamp}}
            </li>
          {% endfor %}
          </ul>
        </div>
      </div>

    </div><!-- /.container -->

    <!-- This is needed by AJAX calls, which need to get a CSRF Token. Make sure to place inside of body, but not contained in anything else -->
    <form action="javascript:;" method="post">
        {% csrf_token %}
    </form>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    {% load staticfiles %}
    <script src={% static "bootstrap-3.1.1-dist/js/bootstrap.min.js" %}></script>

    <script type="text/javascript">
		addNav(true);
    </script>
  </body>
</html>
