<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../assets/ico/favicon.ico">

    <title>Tracks</title>
    {% load tracks_extras %}
    {% load staticfiles %}
    {% load_head_custom %}

    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <div id="navbar" class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    </div>

    <div class="container">

      <div class="starter-template">
        <h1>About Tracks</h1>
        <p class="lead">Tracks is an online music collaboration site created by UC Berkeley students in 2014.</p>
      </div>

    </div><!-- /.container -->

    <!-- This is needed by AJAX calls, which need to get a CSRF Token. Make sure to place inside of body, but not contained in anything else -->
    <form action="javascript:;" method="post">
        {% csrf_token %}
    </form>

    <!-- Bootstrap core JavaScript
    ================================================== -->

    {% load staticfiles %}
    <script src={% static "bootstrap-3.1.1-dist/js/bootstrap.min.js" %}></script>
    {% if session %}
    <script type="text/javascript">
        addNav(true);
    </script>
    {% else %}
    <script type="text/javascript">
        addNav(false);
    </script>
    {% endif %}
    <script type="text/javascript">

        /********************** The following methods are not mine, they are from Django. *****************************
        ******* They allow safe POSTing with Jquery/AJAX (e.g. proper CSRF token, proper origin of request, etc.) *******/
        function csrfSafeMethod(method) {
            // these HTTP methods do not require CSRF protection
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }

        function sameOrigin(url) {
            // test that a given url is a same-origin URL
            // url could be relative or scheme relative or absolute
            var host = document.location.host; // host + port
            var protocol = document.location.protocol;
            var sr_origin = '//' + host;
            var origin = protocol + sr_origin;
            // Allow absolute or scheme relative URLs to same origin
            return (url == origin || url.slice(0, origin.length + 1) == origin + '/') ||
                (url == sr_origin || url.slice(0, sr_origin.length + 1) == sr_origin + '/') ||
                // or any other URL that isn't scheme relative or absolute i.e relative.
                !(/^(\/\/|http:|https:).*/.test(url));
        }

        $.ajaxSetup({
            beforeSend: function (xhr, settings) {
                if (!csrfSafeMethod(settings.type) && sameOrigin(settings.url)) {
                    // Send the token to same-origin, relative URLs only.
                    // Send the token only if the method warrants CSRF protection
                    // Using the CSRFToken value acquired earlier
                    var csrftoken = $('input[name=csrfmiddlewaretoken]').val();
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            }
        });
	  </script>
  </body>
</html>
