<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Projects</title>
	<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
	<script src="js/bootstrap.js" ></script>
	<link rel="stylesheet" type="text/css" href="css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="css/bootstrap-theme.css">
    
</head>
<body>
	<header id="header" class="navbar navbar-static-top bs-docs-nav" style="background-color:#0000CC" role="banner">
    	<nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
        	<div class="navbar-header">
            	<a href="../" class="navbar-brand" style="color:#000000">Tracks</a>
            </div>
        </nav>
    </header>
    <div id="main" class="container-fluid">
    	<div class="row">
    		<div class="text-center"> 
    			Welcome to Tracks! Tracks is designed to allow musical collaboration from across the globe!
    		</div>
         </div>
    </div>
</body>
</html>
<body>
</body>
</html>
