<!DOCTYPE html>
<html>
  <head>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    
    <!-- Reference to JqueryUI 1.10.4 Library -->
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>

    <!-- Reference to JqueryUI 1.10.4 CSS -->
    <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/themes/smoothness/jquery-ui.css">
    
    {% load staticfiles %}
    <link href={% static "bootstrap-3.1.1-dist/css/bootstrap.min.css" %} rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href={% static "starter-template.css" %} rel="stylesheet">

    <!-- Universal js functions -->
    <script src={% static "sidebar.js" %} type="text/javascript"></script>
  </head>

  <body>
    <div id="navbar" class="navbar navbar-inverse navbar-fixed-top" role="navigation"></div>

      {% load tracks_extras %}
      <h2>Search Results:</h2>
      <ul>
        {% for model_object in filtered_query_set %}
          {% if model_object|model_is_of_type:'TracksUser' %}
            <li>
              User <a href="{% url 'Tracks:userpage' model_object.id %}"> {{model_object.get_full_name}} </a>
            </li>
          {% elif  model_object|model_is_of_type:'Track' %}
            <li>
              <!--TODO: In later iterations need to replace dummy <a> link with something more useful (e.g. a play mp3 control) -->
              Track <a href="{% url 'Tracks:userprofile' model_object.user.id %}">{{model_object.filename}}</a> of <a href="{% url 'Tracks:userpage' model_object.user.id %}"> {{model_object.user.get_full_name}} </a>
            </li>
          {% else %} <!-- maybe should be an elif with a condition that it's a list -->
              {% with model_object|last as last %}
                <li>
                  {{ model_object.1 }} <a href="{%url 'Tracks:userprofile' last.user.id %}"> {{ model_object.0 }} </a> of <a href="{% url 'Tracks:userpage' last.user.id %}"> {{ last.user.get_full_name }} </a>
                </li>
              {% endwith %}
          {% endif %}
        {% endfor %}
      </ul>

    {% load staticfiles %}
    <script src={% static "bootstrap-3.1.1-dist/js/bootstrap.min.js" %}></script>

    {% if session %}
    <script type="text/javascript">
        addNav(true);
    </script>
    {% else %}
    <script type="text/javascript">
        addNav(false);
    </script>
    {% endif %}
  </body>
</html>