<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Sign Up</title>

{% load staticfiles %}
<link href={% static "bootstrap-3.1.1-dist/css/bootstrap.min.css" %} rel="stylesheet">

<!-- Custom styles for this template -->
<link href={% static "starter-template.css" %} rel="stylesheet">

<!-- Universal js functions -->
<script src={% static "sidebar.js" %} type="text/javascript"></script>

</head>

<body>
	<div id="navbar" class="navbar navbar-inverse navbar-fixed-top" role="navigation"></div>
    <div class="starter-template">
    	<h1>
        	Sign Up for Tracks!
        </h1>
    </div>
	<div class="container" style="width:50%">
	<form id="signin" class="form-horizontal" role="form" method="post">
    {% csrf_token %}
    	<div class="form-group" >
        	<label for="firstname" class="col-sm-2 control-label">First Name:</label>
            <div class="col-sm-10">
            	<input id="firstName" name="firstName" type="text"  class="form-control" placeholder="First Name"/>
            </div>
        </div>
        <div class="form-group" >
        	<label for="lastName" class="col-sm-2 control-label">Last Name:</label>
            <div class="col-sm-10">
            	<input id="lastName" name="lastName" type="text" class="form-control" placeholder="Last Name"/>
            </div>
        </div>
        <div class="form-group" >
        	<label for="email" class="col-sm-2 control-label">Email Address:</label>
            <div class="col-sm-10">
            	<input id="email" name="email" type="email" class="form-control" placeholder="Email"/>
        	</div>
        </div>
        <div class="form-group" >
        	<label for="password" class="col-sm-2 control-label" >Password:</label>
            <div class="col-sm-10">
            	<input id="password" name="password" type="password" class="form-control" placeholder="Password" data-toggle="tooltip" data-placement="top" title="Password must be 154 characters or less and can only contain alphanumeric characters."/>
            </div>
        </div>
        <div class="form-group" >
        	<label for="confirm" class="col-sm-2 control-label">Confirm Password:</label>
            <div class="col-sm-10">
            	<input id="confirm" name="confirm" type="password" class="form-control" placeholder="Confirm Password"/>
            </div>
        </div>
        <div class="col-sm-offset-2" style="padding-left:5px">
        	<button type="Submit" class="btn btn-default"  >Create Account</button>
        </div>
    </form>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
	{% load staticfiles %}
    <script src={% static "bootstrap-3.1.1-dist/js/bootstrap.min.js" %}></script>
    <script type="text/javascript">
		addNav();
	</script>
    <script type="text/javascript">
	function json_request(page, dict, success, failure) {
		alert(page);
		$.ajax({
			type: 'POST',
			url: page,
			data: dict,
			success: success,
			error: failure
    	});
	}
	function createAccount() {
		json_request(window.location, {email:$("#email").val(), firstname:$("#firstname").val(),lastname:$("#lastname").val(),password:$("#password").val(),confirm:$("#confirm").val()}, function(data) {
			alert(JSON.stringify(data));}, function(err) { alert("An error was encountered. " + err);});
	}
</script>
</body>
</html>
