<!DOCTYPE html>
<html>
<head>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
{% load staticfiles %}
<link href={% static "bootstrap-3.1.1-dist/css/bootstrap.min.css" %} rel="stylesheet">

<!-- Custom styles for this template -->
<link href={% static "starter-template.css" %} rel="stylesheet">

<!-- Universal js functions -->
<script src={% static "sidebar.js" %} type="text/javascript"></script>
</head>
<body>
<div id="navbar" class="navbar navbar-inverse navbar-fixed-top" role="navigation"></div>

{% url 'Tracks:upload_MP3' as upload_mp3_url %}
{% url 'Tracks:get_tracks_for_current_user_JSON' as get_tracks_for_current_user_JSON_url %}
{% url 'Tracks:finalize_collaboration' as finalize_collaboration_url %}
{% load tracks_extras %}



{% if not is_disabled %}
hello {{ user.firstName }}!
{% url 'Tracks:userprofile' as userprofile_url %}
<a href="{{ userprofile_url }}"> Edit Profile </a>
{% else %}
Viewing page of {{ user.firstName }}
{% url 'Tracks:userprofile' user.id as userprofile_url %}
<a href="{{ userprofile_url }}"> View Profile </a>
{% endif %}

<br>

<h3>Collaborations</h3>
<ul id="collaborations_list">
    {% for collaboration in list_of_collaborations %}
    <li>
        <div class="collab_div_container collab_pause">
            <div class="collab_info_div">
                Collaboration {{ collaboration.id }}
                <button class="play_collab_button">Play</button>
                <button class="restart_collab_button">Restart</button>
            </div>

            <div class="collab_users_div">
                <div class="collab_users_div_inner_left">
                        ft. {{ collaboration|get_formatted_list_of_collab_users }}
                </div>
                <a class="collab_toggle_all_tracks" href="#">see all tracks</a>
             </div>

            <div class="collab_tracks_div">
                <a class="collab_toggle_all_tracks" href="#">hide all tracks</a>
                <ul>
                {% for track in collaboration.tracks.all %}
                    <li> {{ track.filename }} by <a href="{% url 'Tracks:userpage' track.user.id %}">{{ track.user.firstName }}</a>
                        <button name="{{ track|get_server_filename }}" class="show_hide_player_button">Show Player</button>
                     </li>
                {% endfor %}
                </ul>
            </div>
      </div>
    </li>
{% endfor %}
</ul>


<ul id="tracks_list">
<h3>Tracks</h3>

{% for track in list_of_tracks %}
    <li>
        {{ track.filename }}
        <button name="{{ track|get_server_filename }}" class="show_hide_player_button">Show Player</button>
        <button id="{{track.id}}" name="collaborate_button">Collaborate</button>
    </li>
{% endfor %}
</ul>


{% if not is_disabled %}

<ol id="upload_list">
<h3>Add Track</h3>
<li><form action="/" method="post">
{% csrf_token %}
    {% for field in form %}
            {{ field.errors }}
             {{ field }}
    {% endfor %}
    <!-- <button id="upload_button" type="button" class="btn">Upload</button> -->
    <div id='progress_div'></div>
</form>
    </li>
    </ol>
{% else %}
    <form action="/" method="post">
        {% csrf_token %}
    </form>
{% endif %}


<script type="text/javascript">
    $(document).ready(function () {

        /********************************** Functions of NISHANT KUMAR ***************************************/

        $(".play_collab_button").click(play_collab);
        $(".restart_collab_button").click(restart_collab);

        function play_collab() {
            var tracks_buttons = get_buttons_for_tracks_of_collab(this);
            $(tracks_buttons).each(function () {
                var music_player = get_music_player(this);
                play_music(music_player);
            });
            collab_set_style_to(this, "play");
            $(this).unbind("click");
            $(this).bind("click", pause_collab);
            $(this).text("Pause");
        }

        function pause_collab() {
            var tracks_buttons = get_buttons_for_tracks_of_collab(this);
            $(tracks_buttons).each(function () {
                var music_player = get_music_player(this);
                pause_music(music_player);
            });
            collab_set_style_to(this, "pause");
            $(this).unbind("click");
            $(this).bind("click", play_collab);
            $(this).text("Play");
        }

        function restart_collab() {
            var tracks_buttons = get_buttons_for_tracks_of_collab(this);
            $(tracks_buttons).each(function () {
                var music_player = get_music_player(this);
                restart_music(music_player);
            });
        }

        function collab_set_style_to(html_collab_element, style_type) {
            if (style_type.toLowerCase() == "play") {
                $(html_collab_element).parents(".collab_div_container")
                    .removeClass()
                    .addClass("collab_div_container collab_play");
            } else if (style_type.toLowerCase() == "processing") {
                $(html_collab_element).parents(".collab_div_container")
                    .removeClass()
                    .addClass("collab_div_container collab_processing");
            } else if (style_type.toLowerCase() == "error") {
                $(html_collab_element).parents(".collab_div_container")
                    .removeClass()
                    .addClass("collab_div_container collab_error");
            } else { // style_type.toLowerCase() == "pause"
                $(html_collab_element).parents(".collab_div_container")
                    .removeClass()
                    .addClass("collab_div_container collab_pause");
            }
        }

        function get_buttons_for_tracks_of_collab(play_collab_button_element){
            var container_div = $(play_collab_button_element).parents(".collab_div_container").get(0);
            var collab_tracks_div = $(container_div)
                                    .children(".collab_tracks_div").get(0);
            var tracks_buttons = $(collab_tracks_div).find(".show_hide_player_button");
            if (tracks_buttons){
                return tracks_buttons;
            }
        }

        $(".collab_tracks_div").hide();

        $(".collab_toggle_all_tracks").click(function () {
            var container_div = $(this).parents(".collab_div_container").get(0);
            if (container_div) {
                var collab_tracks_div = $(container_div)
                    .children(".collab_tracks_div").get(0);
                var collab_users_div = $(container_div)
                    .children(".collab_users_div").get(0);
                if (collab_tracks_div) {
                    $(collab_users_div).toggle(500);
                    $(collab_tracks_div).toggle(500);
                }
            }
        });

        $(".show_hide_player_button").click(show_player);

        function show_player() {
            var music_player = get_music_player(this);
            if(!is_inside_collab(this)){
                play_music(music_player);
            }
            $(music_player).show(500);

            $(this).unbind("click");
            $(this).bind("click", hide_player);
            $(this).text("Hide Player");
        }

        function hide_player() {
            if (does_music_player_exist(this)) {
                var music_player = get_music_player(this);
                //pause_music(music_player);
                //$(music_player).hide(500);
                $(music_player).hide(500, function () {
                    if (!is_inside_collab(this)) {
                        pause_music(music_player);
                    }
                });
                //$(music_player).hide(500, function (){ remove_music_player(music_player);});

                $(this).unbind("click");
                $(this).bind("click", show_player);
                $(this).text("Show Player");
            }
        }

        function is_inside_collab(html_element) {
            if ($(html_element).parents(".collab_tracks_div").length == 0) {
                return 0;
            } else {
                return 1;
            }
        }

        function create_music_player(audio_name) {
            var audio_div = $("<div></div>").addClass("audio_div").attr("name", audio_name);
            var temp_pathname = "{{MEDIA_URL}}" + audio_name;
            var audio_control = $("<audio></audio>").attr("controls", "");
            var source = $("<source></source>").attr("type", "audio/mp3").attr("src", temp_pathname);
            audio_control.append(source);
            audio_div.append(audio_control);
            return audio_div;
        }

        function remove_music_player(music_player) {
            $(music_player).remove();
        }

        function does_music_player_exist(html_element) {
            var music_player = $(html_element).siblings(".audio_div");
            if (music_player.length != 0) {
                return 1;
            } else {
                return 0;
            }
        }

        function get_music_player(html_element) {
            var music_player;
            if (does_music_player_exist(html_element)) {
                music_player = $(html_element).siblings(".audio_div").get(0);
                return music_player;
            } else {
                var parent = $(html_element).parent();
                music_player = create_music_player(html_element.name);
                $(music_player).hide();
                parent.append(music_player);
                return music_player;
            }
        }

        function play_music(music_player) {
            var audio_control = $(music_player).children("audio").get(0);
            if (audio_control) {
                audio_control.play();
            }
        }

        function pause_music(music_player) {
            var audio_control = $(music_player).children("audio").get(0);
            if (audio_control) {
                audio_control.pause();
            }
        }

         function restart_music(music_player) {
            var audio_control = $(music_player).children("audio").get(0);
            if (audio_control) {
                audio_control.currentTime = 0;
            }
        }


        /* FUNCTIONALITY: Creates a new progress bar element.
           INPUTS: 1) html_element:
                      The html element to add the progress bar to.
           OUTPUT: new_bar:
                   The progress bar element.        */
        function add_new_progress_bar(html_element) {
            var new_bar = $("<div></div>")
                .addClass("progress_bar_container");

            html_element.children().last().after(new_bar);

            html_element.children(".progress_bar_container").append(
            $("<div></div>").addClass("progress_bar_outer"));

            html_element.children(".progress_bar_container").append(
            $("<div></div>").addClass("progress_bar_inner"));

            return new_bar;
        }


        /* FUNCTIONALITY: Creates a "track element" - i.e. an li element with text and a progress bar.
                          The "track element" represents a file which is in the process of uploading.
           INPUTS: 1) preceding_text:
                      The text to add before the progress bar.
                   2) element_to_prepend_to:
                      The html element to prepend the "track element" to (preferably a <ul> or <ol> element).
           OUTPUT: new_bar:
                   The progress bar element of the "track element".       */
        function add_loading_track(preceding_text, element_to_prepend_to) {
            var temp = $("<li></li>").append(
            $("<span></span>").text(preceding_text + " "));
            var new_bar = add_new_progress_bar(temp);
            element_to_prepend_to.prepend(temp);
            return new_bar;
        }


        /* FUNCTIONALITY: Sets the length of the inner filling of the progress bar to visually indicate how much progress has been made.
           INPUTS: 1) progress_bar:
                      The progress bar to set the filling of.
                   2) percent_0_to_100:
                      The percent (range 0 to 100) of the progress bar that should be filled.
           OUTPUT: None       */
        function progress_bar_setPercent(progress_bar,
    percent_0_to_100) {
            var progress_bar_max_width = parseInt(progress_bar.children("div.progress_bar_outer").css("width"), 10);
            //alert(progress_bar_max_width);
            var progress_bar_inner_margin_offset = parseInt(progress_bar.children("div.progress_bar_inner").css("margin"));
            var progress_bar_width = percent_0_to_100 * (progress_bar_max_width / 100) - 2 * progress_bar_inner_margin_offset;
            progress_bar_width = progress_bar_width.toString() + "px";
            //alert(progress_bar_width);
            progress_bar.children("div.progress_bar_inner").css("width", progress_bar_width);

            if (percent_0_to_100 == 100) {
                progress_bar.children("div.progress_bar_inner").css("background-color", "#41DD00");
            }
        }


        /* FUNCTIONALITY: Sets the inner filling of the progress bar to red in order to visually indicate a failure.
           INPUTS: 1) progress_bar:
                      The progress bar to set the filling of.
           OUTPUT: None       */
        function progress_bar_Failure(progress_bar) {
            progress_bar.children("div.progress_bar_inner").css("background-color", "red");
        }


        /* FUNCTIONALITY: An event handler used for the event of a file upload in progress. Updates the progress bar appropriately.
           INPUTS: 1) evt:
                      The event object.
                   2) progress_bar:
                      The progress bar to set the filling of.
           OUTPUT: None       */
        function progressHandler(evt, progress_bar) {
            if (evt.lengthComputable) {
                var percent_done = parseInt(100.0 * evt.loaded / evt.total);
                progress_bar_setPercent(progress_bar, percent_done);
            }
        }


        /* FUNCTIONALITY: An event handler used for the event of a file upload which failed. Updates the progress bar appropriately.
           INPUTS: 1) evt:
                      The event object.
                   2) progress_bar:
                      The progress bar to set the filling of.
           OUTPUT: None       */
        function uploadFailedHandler(evt, progress_bar) {
            progress_bar_Failure(progress_bar);
        }


        /* FUNCTIONALITY: Handles uploading a file to the server asynchronously.
                          This includes:
                          - sending data to the server (and waiting for the response).
                          - updating the UI to reflect the progress of the file upload.
           INPUTS: None
           OUTPUT: None       */
        $('#id_file').change(function () {
            // gets the file from the file input and prepares it for uploading
            var form_data = new FormData();
            if (!$(this).val()) {
                return
            }
            var file_input = $(this)[0];
            var file = file_input.files[0];
            form_data.append('file', file);
            form_data.append('user_email', '{{ user.email }}');

            // updates the UI to reflect a file which is uploading
            var new_bar = add_loading_track(file.name, $('#upload_list'));

            // updates the UI to allow the user to upload another file while the previous file is uploading
            $(this).parents("form").get(0).reset();

            // the ajax request to the server to upload the file
            $.ajax({
                url: "{{ upload_mp3_url }}",
                type: 'POST',
                data: form_data,
                cache: false,        // tell the browser not to use its cache
                processData: false,  // we already have a FormData obj, so $ needs to leave it alone
                contentType: false,  // $ needs to leave the contentType alone
                xhr: function () {
                    var xhr = jQuery.ajaxSettings.xhr();
                    if (xhr.upload) {
                        xhr.upload.addEventListener('progress', function (evt) { progressHandler(evt, new_bar) }, false);
                        xhr.upload.addEventListener("error", function (evt) { uploadFailedHandler(evt, new_bar) }, false);
                    }//if
                    return xhr;
                },
                success: function (data, textStatus, jqXHR) {
                    //alert(jqXHR.responseText);
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    progress_bar_Failure(new_bar);
                    //alert(jqXHR.responseText);
                },
                async: true

            });
        });

        $("button[name='collaborate_button']").click(function () {
            this_button = this;
            var track1_id = $(this_button).attr("id");
            $.getJSON("{{ get_tracks_for_current_user_JSON_url }}", function (data) {
                var temp_select_input = turn_KV_data_into_select_input(data);
                if (temp_select_input != null) {
                    $(this_button).before(temp_select_input);
                    $(this_button).text("Finalize Collaboration!");
                    $(this_button).unbind("click");
                    $(this_button).bind("click", finalize_collaboration);
                    //$(this_button).attr("name", "finalize_collaboration_button");
                }
            });
        });

        function finalize_collaboration() {
            this_button = this;
            var track1_id = $(this_button).attr("id");
            var select_element = $(this_button).parent().children("select");
            var track2_id = select_element.children(":selected").val();

            $.ajax({
                url: "{{ finalize_collaboration_url }}",
                type: 'POST',
                data: {track1_id : track1_id, track2_id : track2_id},
                success: function (data, textStatus, jqXHR) {
                    //alert(jqXHR.responseText);
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    //alert(jqXHR.responseText);
                },
                async: true

            });

        };

        function turn_KV_data_into_select_input(data) {
            if (data == null || data.length == 0 || data == '{}') {
                return null
            }
            var temp_select_input = $("<select></select>");

            $.each(data, function (key, val) {
                var temp_choice = $("<option></option>");
                temp_choice.attr("value", key.toString());
                temp_choice.text(val.toString());
                temp_select_input.append(temp_choice);
            });

            return temp_select_input;
        }



        /********************** The following methods are not mine, they are from Django. *****************************
        ******* They allow safe POSTing with Jquery/AJAX (e.g. proper CSRF token, proper origin of request, etc.) *******/
        function csrfSafeMethod(method) {
            // these HTTP methods do not require CSRF protection
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }

        function sameOrigin(url) {
            // test that a given url is a same-origin URL
            // url could be relative or scheme relative or absolute
            var host = document.location.host; // host + port
            var protocol = document.location.protocol;
            var sr_origin = '//' + host;
            var origin = protocol + sr_origin;
            // Allow absolute or scheme relative URLs to same origin
            return (url == origin || url.slice(0, origin.length + 1) == origin + '/') ||
                (url == sr_origin || url.slice(0, sr_origin.length + 1) == sr_origin + '/') ||
                // or any other URL that isn't scheme relative or absolute i.e relative.
                !(/^(\/\/|http:|https:).*/.test(url));
        }

        $.ajaxSetup({
            beforeSend: function (xhr, settings) {
                if (!csrfSafeMethod(settings.type) && sameOrigin(settings.url)) {
                    // Send the token to same-origin, relative URLs only.
                    // Send the token only if the method warrants CSRF protection
                    // Using the CSRFToken value acquired earlier
                    var csrftoken = $('input[name=csrfmiddlewaretoken]').val();
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            }
        });

    });
</script>
{% load staticfiles %}
<script src={% static "bootstrap-3.1.1-dist/js/bootstrap.min.js" %}></script>

<script type="text/javascript">
    addNav();
</script>
<style>
div.progress_bar_container, div.progress_bar_outer, div.progress_bar_inner {
    display: inline-block;
    position:relative;
    left:0px;
    top:-1px;
    height:10px;
}
div.progress_bar_outer, div.progress_bar_inner {
    border:1px solid black;
    position:absolute;
    padding: 0px;
    margin:0px;
}
div.progress_bar_outer {
    width:50px;
    background-color:#FFFFFF;
    z-index:-1;
}
div.progress_bar_inner {
    width:0px;
    border-color: #FFFFFF;
    background-color:#1F45FC;
    height:6px;
    margin:2px;
}
li {
    position:relative;
    padding: 2px 2px 2px 2px;
}
audio {
    width: 266px;
    height: 37px;
    display:block;
}
.collab_div_container {
    width: 450px;
    color: #FFFFFF;
}
.collab_info_div {
    /*border-bottom: 1px solid black;*/
    /*background-color: #DBDBDB; */
    font-weight: bold;
}
.collab_users_div {
    /* border: 1px solid red; */
    background-color: #FFFFFF;
    color: #000000;
}
.collab_users_div_inner_left {
    float:left;
    text-overflow: ellipsis;
    overflow:hidden;
    white-space:nowrap;
    /*border: 1px solid blue;*/
    max-width: 340px;
    background-color: #FFFFFF;
    color: #000000;
    padding-right:10px;
}
.collab_tracks_div {
    /*border: 1px solid green*/
    padding: 2px 2px 2px 2px;
    background-color: #FFFFFF;
    color: #000000;
    max-height: 500px;
    overflow-y: auto;
}
.collab_play, .collab_play button {
    border: 1px solid #00CF00;
    background-color: #00CF00;
    color: #FFFFFF;
    transition:all 1s;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
}
.collab_pause, .collab_pause button {
    border: 1px solid #9D9D9D;
    background-color: #9D9D9D;
    color: #FFFFFF;
    transition:all 1s;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
}
.collab_error, .collab_error button {
    border: 1px solid red;
    background-color: red;
    color: #FFFFFF;
    transition:all 1s;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
}
.collab_processing, .collab_processing button {
    border: 1px solid blue;
    background-color: blue;
    color: #FFFFFF;
    transition:all 1s;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
}
.collab_info_div button {
    border-left: 1px solid white;
    border-right: 1px solid white;
    background-color: inherit;
    color: white;
}
</style>
</body>
</html>