<!DOCTYPE html>
<html>
<head>
	<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
	<script src="js/bootstrap.js" ></script>
	<link rel="stylesheet" type="text/css" href="css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="css/bootstrap-theme.css">
    
</head>
<body>
	<header id="header" class="navbar navbar-static-top bs-docs-nav" style="background-color:#0000CC" role="banner">
    	<nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
        	<div class="navbar-header">
            	<a href="../" class="navbar-brand" style="color:#000000">Tracks</a>
            </div>
        </nav>
    </header>
    <div class="container-fluid">
    	<div class="row">
    		<div id="main" class="text-center"> 
    			Welcome to Tracks! Tracks is designed to allow musical collaboration from across the globe!
    		</div>
         </div>
    </div>
</body>
</html>